%form{ action: '/facebook/post' }
  .panel.panel-default
    .panel-heading
      %i.fa.fa-facebook-square
      = t('facebook.post.header')
    .panel-body
      %div
        %b= current_user.name
      %div
        %small= t(:today, time: Time.now.strftime('%H:%M'))
      %textarea.form-control{ name: :post_text, rows: 3, placeholder: t('facebook.post.placeholder') }
      %div= @company.fb.post_text
      %div
        %img.img-responsive{ src: @company.fb.post_image_url, alt: @company.name }
    .panel-footer
      %button.btn.btn-primary.btn-block{ type: :submit }
        = t('facebook.post.share')
.text-center
  %a{ href: '/' }
    = t(:cancel)
