%form{ action: '/facebook/post' }
  .panel.panel-default
    .panel-heading
      %i.fa.fa-facebook-square
      = t('.facebook.post.header')
    .panel-body
      %div
        %b= current_user.name
      %div
        %small= t(:today, time: Time.now.strftime('%H:%M'))
      %textarea{ name: :post_text, rows: 3, placeholder: t('facebook.post.placeholder'), class: 'form-control' }
      %div= @company.fb.post_text
      %div
        %img{ src: @company.fb.post_image_url, alt: @company.name, class: 'img-responsive' }
    .panel-footer
      %button.btn.btn-primary.btn-block{ type: :submit }
        = t('.facebook.post.share')
.text-center
  %a{ href: '/' }
    = t(:cancel)
