.text-center
  %h1= @company.name
  %p= t('sms.header')
  %ul.list-inline
.row
  .col-md-offset-4.col-md-4
    %form{ action: '/sms/validate', method: :post }
      .form-group
        %label{ for: :code }= t('sms.code')
        %input.form-control{ name: :code }
      .form-group
        %button.btn.btn-primary{ type: :submit }= t('sms.confirm')
.text-center
  %a{ href: '/' }
    = t(:cancel)
